{
    "openapi": "3.0.0",
    "info": {
        "title": "Secure Site API",
        "description": "Secure Site endpoints",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://secure-api.alphatrust.ai",
            "description": "Alpha Trust Server"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/auth": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authentication endpoint",
                "description": "Single endpoint for all auth flows. The `action` field selects the flow.",
                "operationId": "authPost",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/AllAuthRequests"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK — returns JSON with token, 2FA challenge, or a message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllAuth200"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request — validation failed / missing fields"
                    },
                    "401": {
                        "description": "Unauthorized — wrong credentials / code"
                    },
                    "429": {
                        "description": "Too Many Requests — throttled (e.g., resend or attempts)"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/accountsreport": {
            "post": {
                "tags": [
                    "Accounts Report"
                ],
                "summary": "Retrieve accounts report",
                "description": "Returns filtered accounts data in DataTables format.",
                "operationId": "5341dccfffc1a053fae414871ce6e876",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_accountsreport__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Accounts report retrieved successfully",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_accountsreport__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid action or parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/admindashboard": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "Admin Dashboard"
                ],
                "summary": "Admin dashboard actions",
                "description": "Use `action` to select one of: stats, latestProfiles, latestTransactions",
                "operationId": "admindashboardPost",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminDashboardRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response corresponding to the requested action",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminDashboard200"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid action or parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/admindetails": {
            "post": {
                "tags": [
                    "Admin Details"
                ],
                "summary": "Perform admin‐level data operations",
                "description": "Use the `action` field to select one of many detailed admin operations.",
                "operationId": "162bf4191ce931851d3eec2d54e75d2c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_admindetails__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success — returns JSON payload for the chosen action"
                    },
                    "400": {
                        "description": "Bad Request — missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/admindocuments": {
            "post": {
                "tags": [
                    "Admin Documents"
                ],
                "summary": "Perform document-related admin actions",
                "operationId": "b7f857925066f12e96a5665438a88158",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_admindocuments__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation succeeded, returns JSON payload"
                    },
                    "204": {
                        "description": "No content (e.g. document deleted)"
                    },
                    "400": {
                        "description": "Bad request or invalid action"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/adminleads": {
            "post": {
                "tags": [
                    "Admin Leads"
                ],
                "summary": "Perform lead queries and assignments",
                "description": "Use the `action` field to select operations: selecting leads, reports, or assigning them.",
                "operationId": "801221e1c71eddaf0b6e564dd393decc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_adminleads__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful, returns JSON payload"
                    },
                    "400": {
                        "description": "Bad request or invalid parameters"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/adminmarketing": {
            "post": {
                "tags": [
                    "Admin Marketing"
                ],
                "summary": "Perform marketing actions (list, create, toggle, update, stats)",
                "operationId": "ee10b16cb7fdd968501cf6347f92b23e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_adminmarketing__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK – returns JSON payload"
                    },
                    "400": {
                        "description": "Bad Request – invalid parameters"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/adminprofiles": {
            "post": {
                "tags": [
                    "Admin Profiles"
                ],
                "summary": "Perform profile operations",
                "description": "Action is required. Allowed values: select, getProfile, previewDocument, downloadDocument, update, uploadDocument, approveDocument, rejectDocument, deleteDocument, searchIBs, add",
                "operationId": "d76ad52ced5bc55d556eb52f8700fd82",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_adminprofiles__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK — returns JSON payload"
                    },
                    "400": {
                        "description": "Bad Request — missing/invalid params"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/adminsettings": {
            "post": {
                "tags": [
                    "Admin Settings"
                ],
                "summary": "Perform admin settings actions",
                "description": "Actions: searchUsers, searchIBs, relationUpdate, list, details, reopen",
                "operationId": "67bf9692344991ae2b74cc46635f1958",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_adminsettings__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request — missing or invalid parameters"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/admintransactions": {
            "post": {
                "tags": [
                    "Admin Transactions"
                ],
                "summary": "Perform admin transaction actions",
                "description": "Actions: select, selectWithdrawals, selectInternalTransfers, selectCreditCards, getDepositDetails, processDeposit, getWithdrawalDetails, processWithdrawal, getTransferDetails, completeTransfer, getCardDetails, modifyPurseStatus",
                "operationId": "6710611c270af14485f181f1a3f6ea81",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_admintransactions__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request — missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/admintypes": {
            "post": {
                "tags": [
                    "Admin Types"
                ],
                "summary": "Manage configuration Types",
                "description": "Supported actions:\n     *     - **select**: list/paginate/filter Types  \n     *     - **selectOne**: fetch one by `id`  \n     *     - **getReportServers**: list all report servers  \n     *     - **getServersByType**: list servers for a given `typeId`  \n     *     - **add**: create new Type  \n     *     - **edit**: update existing Type  \n     *     - **delete**: remove a Type",
                "operationId": "7ed5922b0674bee315919de9cddb1dab",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_admintypes__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid request or action"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/customreport": {
            "post": {
                "tags": [
                    "Custom Report"
                ],
                "summary": "Fetch report header options or run a custom report",
                "description": "\n     *     **get-header-report**: returns available filter values for the given `columns` array  \n     *     **custom-report**: returns DataTables-style report data for given `columns`, `category` and `col_type`",
                "operationId": "fda51b6a3b818d291686dcb8b8c93de5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_customreport__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Header options or report data returned"
                    },
                    "400": {
                        "description": "Invalid action or missing parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/getAnalystLink": {
            "post": {
                "tags": [
                    "Analyst Link"
                ],
                "summary": "Get secure Analyst URL for a given user",
                "operationId": "74c91089320990aceb906683d346211e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_getanalystlink__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "URL returned",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_getanalystlink__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing user_id"
                    },
                    "402": {
                        "description": "Trial expired"
                    },
                    "403": {
                        "description": "User not verified"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/salesleads": {
            "post": {
                "tags": [
                    "Sales Leads"
                ],
                "summary": "Perform sales-leads operations (list, get, assign, etc.)",
                "operationId": "a95c75811a2a9adbc945d44511819992",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_salesleads__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "201": {
                        "description": "Note created"
                    },
                    "204": {
                        "description": "No content / saved"
                    },
                    "400": {
                        "description": "Invalid request"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mt5accounts": {
            "post": {
                "tags": [
                    "MT5 Accounts"
                ],
                "summary": "Retrieve MT5 account listings (paged or live online)",
                "operationId": "eda73c42511c064b2100b67729a19a29",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_mt5accounts__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response with rows and total"
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/api/partnersPreprocess": {
            "post": {
                "tags": [
                    "Partners Preprocess"
                ],
                "summary": "Record IB partnership visit and campaign click, then optionally redirect",
                "operationId": "1b20b8243b0ce57fe19ae1b2dfb444d4",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_partnerspreprocess__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK, redirect or noop"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/api/publicactivation": {
            "post": {
                "tags": [
                    "Activation"
                ],
                "summary": "Send activation code or activate account",
                "operationId": "0b1d4980e1c0f6883d443dc176591cc3",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "send_code",
                                "activate"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_publicactivation__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/salesdemos": {
            "post": {
                "tags": [
                    "Sales Demos"
                ],
                "summary": "List CRM demo accounts",
                "description": "Returns paged demo accounts for display in a DataGrid",
                "operationId": "salesDemosList",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_salesdemos__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Paged demo accounts",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_salesdemos__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unknown action or bad request"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/salesreport": {
            "post": {
                "tags": [
                    "Sales Report"
                ],
                "summary": "Generate a filtered sales report",
                "description": "Returns totals, leads counts and deposit breakdown for the logged-in sales user between two dates.",
                "operationId": "filterSalesReport",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_salesreport__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sales report data",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_salesreport__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unknown action or bad request"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/tradingCentralStatus": {
            "post": {
                "tags": [
                    "Trading Central"
                ],
                "summary": "Retrieve Trading Central access status for a given user",
                "description": "Returns whether the user is verified, has deposited, and their Trading Central access flag.",
                "operationId": "getTradingCentralStatus",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_tradingcentralstatus__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User Trading Central status retrieved successfully",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_tradingcentralstatus__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid user_id"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/userTransactions": {
            "post": {
                "tags": [
                    "Transactions"
                ],
                "summary": "Retrieve the latest user deposit and withdrawal transactions",
                "operationId": "getUserTransactions",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_usertransactions__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of transactions",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_usertransactions__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/accountdetails": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Retrieve various details for a trading account",
                "description": "Depending on the `action` field, returns account metadata, transactions, open or historical trades, or performs password/demo-fund operations.",
                "operationId": "userAccountDetails",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_accountdetails__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_accountdetails__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/useraccounts": {
            "post": {
                "tags": [
                    "User Account"
                ],
                "summary": "Fetch templates, existing accounts, options or create a new account for a user",
                "operationId": "userAccounts",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_useraccounts__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response – shape varies by action",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_useraccounts__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/useractivation": {
            "post": {
                "tags": [
                    "User Activation"
                ],
                "summary": "Resend activation code or activate a user profile",
                "operationId": "userActivation",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_useractivation__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_useractivation__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "403": {
                        "description": "Forbidden or invalid activation code"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/userdeposits": {
            "post": {
                "tags": [
                    "User Deposits"
                ],
                "summary": "Retrieve deposit options or initiate a deposit via Neteller, Skrill, or bank wire",
                "operationId": "userDeposits",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userdeposits__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/messenger": {
            "get": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Get notification count, list or close all notifications for a user",
                "operationId": "getUserMessages",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "count",
                                "list",
                                "close_notification"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Submit a phone‐callback request",
                "operationId": "postUserMessengerCallback",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_messenger__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Callback request forwarded"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/userpartnerlinks": {
            "post": {
                "tags": [
                    "Partners"
                ],
                "summary": "Retrieve or add partner links for a user",
                "operationId": "manageUserPartnerLinks",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userpartnerlinks__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    }
                }
            }
        },
        "/api/userpartnerreferrals": {
            "post": {
                "tags": [
                    "Partners"
                ],
                "summary": "Retrieve referred users or their accounts for a partner",
                "operationId": "manageUserPartnerReferrals",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userpartnerreferrals__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    }
                }
            }
        },
        "/api/userprofiles": {
            "post": {
                "tags": [
                    "User Profile"
                ],
                "summary": "Retrieve the full user profile",
                "operationId": "getUserProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userprofiles__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User profile object",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_userprofiles__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/userrefer": {
            "post": {
                "tags": [
                    "Referral"
                ],
                "summary": "Get or generate your Refer-a-Friend link and stats",
                "operationId": "userRefer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userrefer__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Current referral link & stats",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_userrefer__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid user_id/action"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/usertransfer": {
            "post": {
                "tags": [
                    "User Transfer"
                ],
                "summary": "List accounts or move funds internally between them",
                "operationId": "userTransfer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_usertransfer__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_usertransfer__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/userwallets": {
            "post": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Fetch user wallets or last transactions",
                "operationId": "userWallets",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userwallets__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/Resp200__POST__api_userwallets__application_x_www_form_urlencoded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/userwithdraw": {
            "post": {
                "tags": [
                    "User Withdrawals"
                ],
                "summary": "Retrieve withdrawal metadata or submit a withdrawal request",
                "operationId": "userWithdraw",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userwithdraw__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/userwithdrawals": {
            "post": {
                "tags": [
                    "User Withdrawals"
                ],
                "summary": "Return the list of available withdrawal methods for the user",
                "operationId": "getWithdrawOptions",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/ReqBody__POST__api_userwithdrawals__application_x_www_form_urlencoded"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of withdrawal options"
                    },
                    "400": {
                        "description": "Missing or invalid parameters"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AdminDashboardRequest": {
                "type": "object",
                "required": [
                    "action",
                    "admin_id"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "description": "Which dashboard data to retrieve",
                        "enum": [
                            "stats",
                            "latestProfiles",
                            "latestTransactions"
                        ]
                    },
                    "admin_id": {
                        "type": "integer",
                        "description": "Admin user ID"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "Max items for latestProfiles/latestTransactions",
                        "example": 10
                    }
                }
            },
            "AdminDashboardStatsResponse": {
                "type": "object",
                "title": "AdminDashboardStatsResponse",
                "properties": {
                    "totalUsers": {
                        "type": "integer"
                    },
                    "activeUsers": {
                        "type": "integer"
                    },
                    "pendingVerifications": {
                        "type": "integer"
                    },
                    "depositsToday": {
                        "type": "number"
                    },
                    "withdrawalsToday": {
                        "type": "number"
                    }
                }
            },
            "AdminDashboardLatestProfilesResponse": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "email": {
                            "type": "string",
                            "format": "email"
                        },
                        "createdAt": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                }
            },
            "AdminDashboardLatestTransactionsResponse": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "userId": {
                            "type": "integer"
                        },
                        "type": {
                            "type": "string",
                            "enum": [
                                "deposit",
                                "withdrawal",
                                "transfer"
                            ]
                        },
                        "amount": {
                            "type": "number"
                        },
                        "currency": {
                            "type": "string"
                        },
                        "createdAt": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                }
            },
            "AdminDashboard200": {
                "oneOf": [
                    {
                        "type": "object",
                        "description": "Stats payload (metrics object; keys vary by implementation)"
                    },
                    {
                        "type": "array",
                        "description": "Latest profiles",
                        "items": {
                            "type": "object"
                        }
                    },
                    {
                        "type": "array",
                        "description": "Latest transactions",
                        "items": {
                            "type": "object"
                        }
                    }
                ]
            },
            "AdminGroupsSelectRequest": {
                "required": [
                    "action"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "select"
                        ]
                    },
                    "draw": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    },
                    "length": {
                        "type": "integer"
                    },
                    "search": {
                        "description": "DataTables search object",
                        "type": "object"
                    },
                    "order": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "columns": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "AdminGroupsSelectOneRequest": {
                "required": [
                    "action",
                    "id"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "selectOne"
                        ]
                    },
                    "id": {
                        "description": "Group ID",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "AdminGroupsGetByConfigRequest": {
                "required": [
                    "action",
                    "configId"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "getByConfig"
                        ]
                    },
                    "configId": {
                        "description": "Configuration ID",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "AdminGroupsGetByServerRequest": {
                "required": [
                    "action",
                    "server_name"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "getByServer"
                        ]
                    },
                    "server_name": {
                        "description": "Server name to filter groups",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AdminGroupsAddRequest": {
                "required": [
                    "action",
                    "grp",
                    "currency",
                    "configId",
                    "platform"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "add"
                        ]
                    },
                    "grp": {
                        "description": "Group name",
                        "type": "string"
                    },
                    "currency": {
                        "description": "Currency code",
                        "type": "string"
                    },
                    "configId": {
                        "description": "Configuration ID",
                        "type": "integer"
                    },
                    "liveglobal": {
                        "description": "Live global flag",
                        "type": "string"
                    },
                    "platform": {
                        "description": "Platform name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AdminGroupsEditRequest": {
                "required": [
                    "action",
                    "id"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "edit"
                        ]
                    },
                    "id": {
                        "description": "Group ID",
                        "type": "integer"
                    },
                    "grp": {
                        "description": "Group name",
                        "type": "string"
                    },
                    "currency": {
                        "description": "Currency code",
                        "type": "string"
                    },
                    "configId": {
                        "description": "Configuration ID",
                        "type": "integer"
                    },
                    "liveglobal": {
                        "description": "Live global flag",
                        "type": "string"
                    },
                    "platform": {
                        "description": "Platform name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AdminGroupsDeleteRequest": {
                "required": [
                    "action",
                    "id"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "delete"
                        ]
                    },
                    "id": {
                        "description": "Group ID",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "AuthLoginRequest": {
                "required": [
                    "action",
                    "email",
                    "password"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "login"
                        ]
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password"
                    },
                    "smscode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "AuthRegisterRequest": {
                "required": [
                    "action",
                    "first_name",
                    "last_name",
                    "email",
                    "password",
                    "country",
                    "phone_code",
                    "phone_number"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "register"
                        ]
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password"
                    },
                    "country": {
                        "type": "string"
                    },
                    "phone_code": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "smscode": {
                        "type": "string",
                        "nullable": true
                    },
                    "campaign": {
                        "type": "string",
                        "nullable": true
                    },
                    "pid": {
                        "type": "string",
                        "nullable": true
                    },
                    "externalRegister": {
                        "type": "boolean",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "AuthRegisterIBRequest": {
                "required": [
                    "action",
                    "first_name",
                    "last_name",
                    "email",
                    "password",
                    "country",
                    "phone_code",
                    "phone_number"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "registerIB"
                        ]
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password"
                    },
                    "country": {
                        "type": "string"
                    },
                    "phone_code": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "smscode": {
                        "type": "string",
                        "nullable": true
                    },
                    "campaign": {
                        "type": "string",
                        "nullable": true
                    },
                    "pid": {
                        "type": "string",
                        "nullable": true
                    },
                    "partnerid": {
                        "type": "string",
                        "nullable": true
                    },
                    "partner_account_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "client_personal_relation": {
                        "type": "string",
                        "nullable": true
                    },
                    "ib_experience": {
                        "type": "string",
                        "nullable": true
                    },
                    "nbr_clients": {
                        "type": "integer",
                        "nullable": true
                    },
                    "client_depositsent_personal_relation": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "AuthRequestPasswordResetRequest": {
                "required": [
                    "action",
                    "email"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "requestPasswordReset"
                        ]
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    }
                },
                "type": "object"
            },
            "AuthResetPasswordRequest": {
                "required": [
                    "action",
                    "token",
                    "password"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "resetPassword"
                        ]
                    },
                    "token": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string",
                        "format": "password"
                    }
                },
                "type": "object"
            },
            "AuthVerifyLoginCodeRequest": {
                "required": [
                    "action",
                    "challengeToken",
                    "code"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "verifyLoginCode"
                        ]
                    },
                    "challengeToken": {
                        "type": "string",
                        "description": "Signed, stateless challenge token"
                    },
                    "code": {
                        "type": "string",
                        "description": "6-digit verification code"
                    }
                },
                "type": "object"
            },
            "AuthResendLoginCodeRequest": {
                "required": [
                    "action",
                    "challengeToken"
                ],
                "properties": {
                    "action": {
                        "type": "string",
                        "enum": [
                            "resendLoginCode"
                        ]
                    },
                    "challengeToken": {
                        "type": "string",
                        "description": "Signed, stateless challenge token to be refreshed"
                    }
                },
                "type": "object"
            },
            "AuthTwoFAChallengeResponse": {
                "required": [
                    "twofa",
                    "challengeToken",
                    "expiresAt"
                ],
                "properties": {
                    "twofa": {
                        "type": "boolean",
                        "example": true
                    },
                    "challengeToken": {
                        "type": "string"
                    },
                    "expiresAt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unix timestamp"
                    }
                },
                "type": "object"
            },
            "AuthLoginSuccessResponse": {
                "required": [
                    "userID",
                    "uid",
                    "type",
                    "acl",
                    "name",
                    "email",
                    "token",
                    "redirect"
                ],
                "properties": {
                    "userID": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "uid": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "acl": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "token": {
                        "type": "string"
                    },
                    "noneuropean": {
                        "type": "string",
                        "nullable": true
                    },
                    "affiliate": {
                        "type": "string",
                        "nullable": true
                    },
                    "redirect": {
                        "type": "string",
                        "example": "/"
                    }
                },
                "type": "object"
            },
            "AuthMessageResponse": {
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "redirect": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "AllAuthRequests": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/AuthLoginRequest"
                    },
                    {
                        "$ref": "#/components/schemas/AuthRegisterRequest"
                    },
                    {
                        "$ref": "#/components/schemas/AuthRegisterIBRequest"
                    },
                    {
                        "$ref": "#/components/schemas/AuthRequestPasswordResetRequest"
                    },
                    {
                        "$ref": "#/components/schemas/AuthResetPasswordRequest"
                    },
                    {
                        "$ref": "#/components/schemas/AuthVerifyLoginCodeRequest"
                    },
                    {
                        "$ref": "#/components/schemas/AuthResendLoginCodeRequest"
                    }
                ]
            },
            "AllAuth200": {
                "oneOf": [
                    {
                        "description": "2FA challenge after successful credential check",
                        "type": "object",
                        "properties": {
                            "twofa": {
                                "type": "boolean",
                                "example": true
                            },
                            "challengeToken": {
                                "type": "string",
                                "example": "eyJ..."
                            },
                            "expiresAt": {
                                "type": "integer",
                                "description": "Unix epoch seconds",
                                "example": 1735756800
                            },
                            "message": {
                                "type": "string",
                                "example": "2FA required."
                            }
                        },
                        "required": [
                            "twofa",
                            "challengeToken",
                            "expiresAt"
                        ]
                    },
                    {
                        "description": "Successful login/register/verify result with token and user payload",
                        "type": "object",
                        "properties": {
                            "userID": {
                                "type": "integer",
                                "example": 123
                            },
                            "uid": {
                                "type": "string",
                                "example": "b4a8c6..."
                            },
                            "type": {
                                "type": "string",
                                "example": "secure"
                            },
                            "acl": {
                                "type": "string",
                                "example": "secure"
                            },
                            "name": {
                                "type": "string",
                                "example": "Jane Doe"
                            },
                            "email": {
                                "type": "string",
                                "format": "email",
                                "example": "jane@example.com"
                            },
                            "token": {
                                "type": "string",
                                "example": "jwt-token-here"
                            },
                            "noneuropean": {
                                "type": "string",
                                "nullable": true,
                                "example": "1"
                            },
                            "affiliate": {
                                "type": "string",
                                "nullable": true
                            },
                            "redirect": {
                                "type": "string",
                                "example": "/"
                            }
                        },
                        "required": [
                            "token"
                        ]
                    },
                    {
                        "description": "Generic success message (e.g., password reset/request)",
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string",
                                "example": "The password has been changed successfully."
                            },
                            "redirect": {
                                "type": "string",
                                "nullable": true,
                                "example": "/"
                            }
                        },
                        "required": [
                            "message"
                        ]
                    }
                ]
            },
            "ReqBody__POST__api_accountsreport__application_x_www_form_urlencoded": {
                "required": [
                    "action"
                ],
                "properties": {
                    "action": {
                        "description": "Must be 'report-accounts'",
                        "type": "string",
                        "enum": [
                            "report-accounts"
                        ]
                    },
                    "admin_id": {
                        "description": "Admin user ID",
                        "type": "integer"
                    },
                    "eu_noneu": {
                        "description": "Filter: 'EU' or 'Noneu'",
                        "type": "string"
                    },
                    "currency": {
                        "description": "Currency code (e.g. USD)",
                        "type": "string"
                    },
                    "country": {
                        "description": "Country code",
                        "type": "string"
                    },
                    "date_from": {
                        "description": "Start date (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date"
                    },
                    "date_to": {
                        "description": "End date (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date"
                    },
                    "min": {
                        "description": "Minimum balance",
                        "type": "number"
                    },
                    "max": {
                        "description": "Maximum balance",
                        "type": "number"
                    }
                },
                "type": "object"
            },
            "Resp200__POST__api_accountsreport__application_x_www_form_urlencoded": {
                "properties": {
                    "rows": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "login": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "country": {
                                    "type": "string"
                                },
                                "group": {
                                    "type": "string"
                                },
                                "currency": {
                                    "type": "string"
                                },
                                "balance": {
                                    "type": "number",
                                    "format": "float"
                                },
                                "campaign": {
                                    "type": "string"
                                },
                                "partnership": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "sales": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "recordsTotal": {
                        "type": "integer"
                    },
                    "recordsFiltered": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_admindetails__application_x_www_form_urlencoded": {
                "required": [
                    "action",
                    "admin_id"
                ],
                "properties": {
                    "action": {
                        "description": "Which admin action to invoke",
                        "type": "string",
                        "enum": [
                            "selectDetailedTransactions",
                            "selectAccounts",
                            "selectDetailedPurses",
                            "selectUserActionsLog",
                            "selectUserEmails",
                            "selectUserMessages",
                            "saveUserStatuses",
                            "getProfileOverview",
                            "getUserStatuses",
                            "downloadKycPdf",
                            "add_lead_status",
                            "updateUserPassword",
                            "resetSecurePin",
                            "getUserAccesses",
                            "updateUserAccesses",
                            "getReferAFriend",
                            "toggleAccountHidden",
                            "toggleAccountEu",
                            "updateAccountLimits",
                            "getAccountLimits",
                            "fetchPaymentInit",
                            "startPayment",
                            "createnote",
                            "updatenote",
                            "deletenote"
                        ]
                    },
                    "admin_id": {
                        "description": "Your admin user ID",
                        "type": "integer"
                    },
                    "user_id": {
                        "description": "Target user ID",
                        "type": "integer"
                    },
                    "id": {
                        "description": "Generic profile or note ID",
                        "type": "integer"
                    },
                    "url_part": {
                        "description": "Optional URL segment for filtering/paging",
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "operation": {
                        "type": "string"
                    },
                    "currency_target": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "number",
                        "format": "float"
                    },
                    "comment": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string",
                        "enum": [
                            "deposit",
                            "withdraw"
                        ]
                    },
                    "draw": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    },
                    "length": {
                        "type": "integer"
                    },
                    "search": {
                        "type": "object"
                    },
                    "order": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "columns": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "note": {
                        "type": "string"
                    },
                    "note_id": {
                        "type": "integer"
                    },
                    "type": {
                        "description": "Sub‐type for notes",
                        "type": "string"
                    },
                    "future_date": {
                        "description": "Optional scheduled date",
                        "type": "string",
                        "format": "date"
                    },
                    "lead_status": {
                        "type": "string"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "tradingCentral": {
                        "type": "boolean"
                    },
                    "backofficeAccess": {
                        "type": "boolean"
                    },
                    "acl": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_admindocuments__application_x_www_form_urlencoded": {
                "required": [
                    "action",
                    "admin_id"
                ],
                "properties": {
                    "action": {
                        "description": "Which document operation to perform",
                        "type": "string",
                        "enum": [
                            "select",
                            "info",
                            "doc_delete",
                            "doc_aprove",
                            "doc_decline",
                            "doc_expiration",
                            "but_translate"
                        ]
                    },
                    "admin_id": {
                        "description": "Admin user ID",
                        "type": "integer"
                    },
                    "url_part": {
                        "description": "Optional paging/filter segment",
                        "type": "string"
                    },
                    "user_id": {
                        "description": "Target user ID",
                        "type": "integer"
                    },
                    "file_name": {
                        "description": "Document file name",
                        "type": "string"
                    },
                    "doc_expiration": {
                        "description": "New expiration date",
                        "type": "string",
                        "format": "date"
                    },
                    "translate": {
                        "description": "Translation text",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_adminleads__application_x_www_form_urlencoded": {
                "required": [
                    "action",
                    "admin_id"
                ],
                "properties": {
                    "action": {
                        "description": "Which admin leads operation to perform",
                        "type": "string",
                        "enum": [
                            "select",
                            "select-leads",
                            "reverted-clients",
                            "cold-leads",
                            "demo-leads",
                            "deposit-report",
                            "redeposit-report",
                            "assign-client-to-sales",
                            "assign-leads-to-sales",
                            "get-sales-user",
                            "dropdowns"
                        ]
                    },
                    "admin_id": {
                        "description": "Admin user ID",
                        "type": "integer"
                    },
                    "date_from": {
                        "description": "Start date YYYY-MM-DD",
                        "type": "string",
                        "format": "date"
                    },
                    "date_to": {
                        "description": "End date YYYY-MM-DD",
                        "type": "string",
                        "format": "date"
                    },
                    "search": {
                        "description": "DataTables search object",
                        "type": "object"
                    },
                    "order": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "start": {
                        "type": "integer"
                    },
                    "length": {
                        "type": "integer"
                    },
                    "url_part": {
                        "description": "Optional segment: 'notified', etc.",
                        "type": "string"
                    },
                    "campaign": {
                        "description": "Campaign name",
                        "type": "string"
                    },
                    "users_id": {
                        "description": "List of user IDs to assign/unassign",
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "sales_id": {
                        "description": "Sales user ID to assign to (or omit to unassign)",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_adminmarketing__application_x_www_form_urlencoded": {
                "required": [
                    "action"
                ],
                "properties": {
                    "action": {
                        "description": "Which marketing operation to invoke",
                        "type": "string",
                        "enum": [
                            "select",
                            "select-archived",
                            "createCampaign",
                            "toggleCampaign",
                            "updateCampaign",
                            "getCampaignStats",
                            "getReferToFriendStat"
                        ]
                    },
                    "admin_id": {
                        "description": "Admin user ID",
                        "type": "integer"
                    },
                    "draw": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    },
                    "length": {
                        "type": "integer"
                    },
                    "search": {
                        "description": "DataTables search",
                        "type": "object"
                    },
                    "code": {
                        "description": "Campaign code",
                        "type": "string"
                    },
                    "link": {
                        "description": "Target link",
                        "type": "string"
                    },
                    "campaignType": {
                        "description": "Campaign type",
                        "type": "string"
                    },
                    "channelPlacement": {
                        "description": "Placement channel",
                        "type": "string"
                    },
                    "id": {
                        "description": "Campaign ID",
                        "type": "integer"
                    },
                    "enabled": {
                        "description": "Enable flag",
                        "type": "boolean"
                    },
                    "script": {
                        "description": "Campaign script",
                        "type": "string"
                    },
                    "campaign_id": {
                        "description": "Campaign ID for stats",
                        "type": "integer"
                    },
                    "from": {
                        "description": "Stats start date",
                        "type": "string",
                        "format": "date"
                    },
                    "to": {
                        "description": "Stats end date",
                        "type": "string",
                        "format": "date"
                    },
                    "country": {
                        "description": "Filter by country codes",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_adminprofiles__application_x_www_form_urlencoded": {
                "required": [
                    "action"
                ],
                "properties": {
                    "action": {
                        "description": "Which profile operation to invoke",
                        "type": "string",
                        "enum": [
                            "select",
                            "getProfile",
                            "previewDocument",
                            "downloadDocument",
                            "update",
                            "uploadDocument",
                            "approveDocument",
                            "rejectDocument",
                            "deleteDocument",
                            "searchIBs",
                            "add"
                        ]
                    },
                    "admin_id": {
                        "description": "Admin user ID",
                        "type": "integer"
                    },
                    "id": {
                        "description": "Profile or file ID",
                        "type": "integer"
                    },
                    "url_part": {
                        "description": "Optional sub‐resource indicator",
                        "type": "string"
                    },
                    "search": {
                        "description": "DataTables search object",
                        "type": "object"
                    },
                    "filename": {
                        "description": "Filename for preview/download",
                        "type": "string"
                    },
                    "update": {
                        "description": "Section to update",
                        "type": "string"
                    },
                    "file_id": {
                        "description": "Document record ID",
                        "type": "integer"
                    },
                    "q": {
                        "description": "Search query for IBs",
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "name": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "has_ib": {
                        "type": "boolean"
                    },
                    "ib_id": {
                        "type": "integer"
                    },
                    "login": {
                        "description": "MT5 login",
                        "type": "string"
                    },
                    "agreements": {
                        "description": "Array of agreement keys",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_adminsettings__application_x_www_form_urlencoded": {
                "required": [
                    "action"
                ],
                "properties": {
                    "action": {
                        "description": "Which adminsettings operation to invoke",
                        "type": "string",
                        "enum": [
                            "searchUsers",
                            "searchIBs",
                            "relationUpdate",
                            "list",
                            "details",
                            "reopen"
                        ]
                    },
                    "q": {
                        "description": "Search query",
                        "type": "string"
                    },
                    "user_id": {
                        "description": "Client user ID",
                        "type": "integer"
                    },
                    "ib_id": {
                        "description": "IB user ID",
                        "type": "integer"
                    },
                    "page": {
                        "description": "Page number for list",
                        "type": "integer"
                    },
                    "rows": {
                        "description": "Rows per page",
                        "type": "integer"
                    },
                    "sort": {
                        "description": "Sort field",
                        "type": "string"
                    },
                    "order": {
                        "description": "Sort order (asc/desc)",
                        "type": "string"
                    },
                    "task": {
                        "description": "Queue task filter",
                        "type": "string"
                    },
                    "id": {
                        "description": "Record ID for details",
                        "type": "integer"
                    },
                    "reopen": {
                        "description": "Task ID to reopen",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ReqBody__POST__api_admintransactions__application_x_www_form_urlencoded": {
                "required": [
[...]
